@model List<StudentPortal.Web.Dtos.StudentDto>

<h1>Students</h1>

<div style="width:99%;text-align:right">
    @Html.ActionLink("Add Student", "Add", "Students")
</div>
    
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>
                    <a asp-action="Edit" asp-controller="Students" asp-route-studentId="@student.Id">Edit</a> |
                    <a asp-action="Delete" asp-controller="Students" asp-route-studentId="@student.Id" >Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

